<a href="https://colab.research.google.com/github/kimtaehan01/NLP_2023/blob/main/202000593.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW1 (HNU CE 파이썬프로그래밍 2023년 1학기)
* 분반: 01
* 이름: 김태한
* 학번: 20200593


과제에서 작성한 각 함수에 대해서는 함수가 올바르게 동작한다는 것을 보여주는 적절한 개수의 테스트 실행을 반드시 같이 작성해서 제출해야 한다. 테스트가 적절하지 않거나 부족하면 올바른 코드라도 감점되거나 전혀 점수를 받지 못할 수도 있음을 유의!

코드를 작성하다가 추가 보조 함수를 작성하는 것이 코드를 정리하기 좋다고 생각되면 추가로 보조 함수를 작성해도 좋다. 문제에서 요구하는 함수가 아닌 보조함수들에 대해서는 테스트 실행을 포함하는 것이 의무(채점사항)는 아니지만 그래도 있으면 더 좋다.

----

`m` 진법의 수를 나타내는 문자열 `str`을
`n` 진법의 수를 나타내는 문자열로 변환하는
함수 `convert_base(str, m, n, p)`를 작성하는 과제이다.
마지막 파라메터 `p`는 최대 소수점 몇째 자리까지 계산할지 정해주는 용도이다.
`m`과 `n`의 범위 즉 진법은 2진법부터 36진법까지로 하자.
36진법의 경우는 0부터 9까지 열 개의 digit과 A부터 Z까지 알파벳 26글자를 모두 활용하게 된다.

정수만을 변환하는 경우는 파이썬의 붙박이 함수 `int`를 활용하거나,
int를 활용하지 않더라도 아니더라도 chatGPT에 물어보면 너무 쉽게 된다.
그래서 이 과제는 소수점이 있는 경우까지 포함하는 수를 진법 변환하는 내용이다.
물론 이것도 chatGPT에게 물어보면 또 작성을 못해주는 건 아니라 아래와 같은
구현상의 추가 제약조건을 따라 과제를 진행하기로 한다.

바로 유리수 계산을 통해서 하자는 것이다. 보통 chatGPT에게
그냥 물어보면 해주는 방식은 대략 정수 부분을 변환한 다음,
소수점 이하 부분은
- m진수 소수 형태의 문자열을 컴퓨터의 실수 표현(즉, 이진수)로 변환
- 컴퓨터의 실수 표현(즉, 이진수)를 n진수 소수 형태의 문자열로 변환

이렇게 컴퓨터의 이진수 실수 표현 단계를 중간에 거쳐간다.

이렇게 하는 게 사실 일반적으로 더 간편하고 빠른 방법이긴 하지만
- m진수에서 이진수 실수로 갈 때 오차 발생 가능
- 이진수에서 n진수 실수로 갈 때 오차 발생 가능

이렇게 오차가 두 번씩 발생하므로
m진법에서 n진법으로 한번에 변환하면 한번만 발생할 오차가
불필요하게 두 번 발생되며 오차가 누적될 가능성이 있다는 것이 단점이다.
(특히, m과 n 모두 2가 아닌 서로 다른 소인수를 포함하는 경우)

그래서 좀 느리고 불편하지만 (그리고 일반적인 방법이 아니라 아무래도
chatGPT에게 물어보기도 더 까다롭고 ... 열심히 물어보면 뭐 대답할 수
있게 만들 수 있을지도 모르는데 뭐 그건 그거 나름대로 상당한 노력이라)
컴퓨터 이진수가 아닌 오차가 없는 유리수 표현(즉, 분수)과 연산을 통해
소수점 이하의 m진법에서 n진법 변환을 수행하는 것이 이번 과제의 핵심이다.

----
분수 $\frac{x}{y}$를 이 과제의 파이썬 코드에서는 `(x,y)` 형태의 순서쌍으로 표현한다.
이 때 `x`와 `y`는 정수이다.

두 분수 `q1`과 `q2`의 크기를 비교하는 함수들을 다음과 같이 작성할 수 있다.

In [ ]:
# q1 < q2
def ltFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2
  return x1*y2 < x2*y1

# q1 > q2
def gtFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2
  return x1*y2 > x2*y1

# q1 <= q2
def leFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2
  return x1*y2 <= x2*y1

# q1 >= q2
def geFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2
  return x1*y2 >= x2*y1

# q1 == q2
def eqFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2
  return x1*y2 == x2*y1

----
## 문제 1번 (5점+5점+10점 = 30점). 분수의 덧셈, 뺄셈, 나눗셈 함수 작성

In [ ]:
import math # math.lcm, math.gcd 등등 활용을 위해 import


# 통분해서 계산하고 결과는 약분해서
def addFrac(q1, q2):
  gcd_val = math.gcd(q1[1], q2[1])
  lcm_val = math.lcm(q1[1], q2[1])

  numerator = q1[0] * (lcm_val // q1[1]) + q2[0] * (lcm_val // q2[1])
  denominator = lcm_val

  gcd_val = math.gcd(numerator, denominator)
  return (numerator // gcd_val, denominator // gcd_val)


# 통분해서 계산하고 결과는 약분해서
def subFrac(q1, q2):
  gcd_val = math.gcd(q1[1], q2[1])
  lcm_val = math.lcm(q1[1], q2[1])

  numerator = q1[0] * (lcm_val // q1[1]) - q2[0] * (lcm_val // q2[1])
  denominator = lcm_val

  gcd_val = math.gcd(numerator, denominator)
  return (numerator // gcd_val, denominator // gcd_val)

# q1을 q2로 나눈 몫(정수)과 나머지(유리수)를 순서쌍으로 리턴
# 나머지도 유리수이므로 마찬가지로 약분한 결과로
def divFrac(q1, q2):
  numerator = q1[0] * q2[1]
  denominator = q1[1] * q2[0]

  quotient = numerator // denominator
  remainder_numerator = numerator % denominator

  gcd_val = math.gcd(remainder_numerator, denominator)
  remainder = (remainder_numerator // gcd_val, denominator // gcd_val)

  return (quotient, remainder)

In [ ]:
addFrac([1,5], [5,4])

(29, 20)

In [ ]:
subFrac([1,5], [5,4])

(-21, 20)

In [ ]:
divFrac([1,5], [5,4])

NameError: ignored

In [ ]:
print( math.gcd(12,15), math.lcm(12,15) ) # 12와 15의 최소공배수와 최대공약수

3 60

----
## 문제 2번 (10점). 0부터 9까지 글자와 A부터 Z까지 글자를 정수로 변환
2진법부터 36진법까지의 수를 표현하는 문자열에 나타나는
각 글자를 수치로 변환하는 데 활용할 아래의 `digit2int` 함수를 작성하라.

In [ ]:
 # 0부터 9까지 글자와 A부터 Z까지의 글자를 컴퓨터 정수값으로 변환
  # 0부터 9는 정수 0부터 9로
  # A부터 Z는 정수 10부터 35로
def digit2int(c):
  il=list()
  for char in c:
    il.append(char)
  for i,item in enumerate(il):
    if 47<ord(item)<58:
      il[i]=int(item)
    elif 64<ord(item.upper())<91:
      il[i]=ord(item.upper())-55
    else:
      print("범위를 밖입니다.")
      return None

  return il

In [ ]:
print( int('ZZZ',36) )
print( 35*36 + 35 )

46655
1295

In [ ]:
digit2int("Z9z")

[35, 9, 35]

----
`m`진법 자연수(음이 아닌 정수)를 나타내는 문자열 `str`을
`n`진법 자연수를 나타내는 문자열로 변환하는 함수
`convert_base_nat(str, m, n)`을 작성하라.

정수에 대한 진법 변환은 오차가 없으므로 어떤 방식을 활용하든 크게 관계없다.
2진법에서 36진법까지 모두 작동하기만 하면 된다.
그러니까 붙박이 함수 `int`를 활용해도 좋다.

이 함수를 사용할 때는 우량한 형태의 `str`이 들어온다고 가정할 것이므로,
함수 몸체에서 `str`이 올바른 `m`진법 자연수의 형태의 문자열인지
따로 검사하는 validation은 하지 말라.

이 함수는 과제를 완성하기 위해서 필요하므로 반드시 작성해야 하지만
chatGPT에게 물어봐도 이정도는 간단히 해줄 것이이므로
이 부분을 완성하는 것에 대한 과제 점수는 없다.

In [ ]:
def convert_base_nat(s, m, n):
    sl=digit2int(s)
    def to_decimal(sl, m):
        decimal = 0
        for digit in sl:
            decimal = decimal * m + int(digit, m)
        return decimal

    def from_decimal(n, m):
        if n == 0:
            return '0'
        digits = []
        while n > 0:
            digits.append(str(convert_alpha(n, n % m)))
            n //= m
        return ''.join(digits[::-1])

    decimal = to_decimal(s, m)
    result = from_decimal(decimal, n)
    return result

In [ ]:
convert_base_nat("Z9Z", 36, 2)

'1011001010010111'

----
## 문제 3번 (60점). `convert_base(s, m, n, p)` 함수 작성

`m` 진법의 수를 나타내는 문자열 `str`을
`n` 진법의 수를 나타내는 문자열로 변환하는
함수 `convert_base(str, m, n, p)`를 작성하라.

`str`이 우량한 형태인지, 즉 m진법의 정수 혹은 실수(소수점 하나 포함) 형태인지
검사하는 내용을 포함하라. 만일 불량한 입력이면 `ValueError`를 `raise`하라.

`str`이 정수 형태라면, 그냥 앞서 작성한 `convert_base_nat`을 호출하기만 하면 된다.

`str`이 소수점이 하나 포함횐 형태라면,
정수 부분은 `convert_base_nat`를 활용해 변환하고,
소수점 아래 부분을 분수 혹은 여러 개의 분수로 표현하여
중간에 2진법을 거치지 않고 직접 m진법에서 m진법으로
분수의 덧셈 뺄셈 나눗셈 등의 연산을 활용한 소수점 아래 자리들에 대한 진법 변환을 하라.
그리고 정수 부분이 변환된 문자열과 소수점 아래 자리들이 변환된 문자열을 가운데
`'.'`을 두고 이어붙여서 리턴하면 될 것이다.

마지막 파라메터 `p`는 최대 소수점 몇째 자리까지 계산할지 정해주는 용도이다.
`m`과 `n`의 범위 즉 진법은 2진법부터 36진법까지로 하자.
36진법의 경우는 0부터 9까지 열 개의 digit과 A부터 Z까지 알파벳 26글자를 모두 활용하게 된다.

정수 진법변환

In [ ]:

def convert_base_nat(s, m, n):
    sl=digit2int(s)
    def to_decimal(sl, m):
        decimal = 0
        for digit in sl:
            decimal = decimal * m + int(digit, m)
        return decimal

    def from_decimal(n, m):
        if n == 0:
            return '0'
        digits = []
        while n > 0:
            digits.append(str(convert_alpha(n, n % m)))
            n //= m
        return ''.join(digits[::-1])

    decimal = to_decimal(s, m)
    result = from_decimal(decimal, n)
    return result

10 이상일 때 마지막 출력 알파벳으로

In [ ]:

def convert_alpha(m, num):
  if m > 10 and num >= 10:
    return chr(65 + num - 10)
  else:
    return num

소수점이하 진법 변환

In [ ]:

# s는 소수점 자리
# m은 s의 진수
# n은 바꿀 진수
# p 는 유효숫자 자리



def convert_base_frac2(s, m, n, p):
  s=digit2int(s)
  if m >= 10:
    new_s = 0
    for i, v in enumerate(s):
      new_s += int(v) / (m ** (i + 1))
    s = list(map(lambda x: x, str(new_s).split(".")[1]))
  if n == 10 and m>=10:
    return "".join(map(lambda x: str(x), s))
  num = 0
  den = m ** len(s)
  for i in range(len(s)):
    num += int(s[i]) * (m ** (len(s) - (i + 1)))
  # 10진수로 컨버팅 했으니, 유효숫자 구하기
  cnt = 0
  na = 0
  result = ""
  while cnt < p and num != 0:
    na = num * n
    result += str(convert_alpha(n, na // den))
    num = na % den
    cnt += 1

  #a = "".join(map(lambda x: str(x), s))
  #print(f"{m}진수 0.{a}를 {n}진수로 바꾸면 0.{result}이라네(유효숫자 {p}자리)")
  return result

에러체크

In [ ]:
def check_e(s,m):
  if s==None:
      raise ValueError("2~36진법의 수를 입력해주십시오")
  elif s.count('.') >= 2:
      raise ValueError("소수점은 1개 이하로 입력가능합니다.")
  elif any(not (char.isalnum() or char == '.') for char in s):
      raise ValueError("특수 문자는 . 만 입력가능합니다.")
  else:
    if "." in s :
      i1,f2= s.split(".")
      i=digit2int(i1)
      f=digit2int(f2)
      if i==None or f==None :
        for j,item in enumerate(i):
          if item >= m:
            raise ValueError(" 입력한 수가 진법을 초과하였습니다.")
        for j,item in enumerate(f):
          if item >= m:
            raise ValueError(" 입력한 수가 진법을 초과하였습니다.")
    else:
      s=digit2int(s)

    if s==None:
      raise ValueError("범위 밖입니다")
    for j,item in enumerate(s):
      if item >= m:
        raise ValueError(" 입력한 수가 진법을 초과하였습니다.")

종합

In [ ]:
def convert_base(s, m, n, p):
  check_e(s,m)
  if "." in s :
    i1,f2= s.split(".")
    f2 = list(map(lambda x: x, f2))
    o=convert_base_nat(i1, m, n)
    rn=convert_base_frac2(f2, m, n, p)
    #print(rn)
    return o+"."+rn
  else:
    return convert_base_nat(s, m, n)

테스트

In [ ]:
convert_base("ff", 16, 10,50)

'255'

In [ ]:
convert_base("zz", 36, 10,50)

'1295'

In [ ]:
convert_base("ff.ff", 16, 10,50)

'255.99609375'

In [ ]:
convert_base("254.9375", 10, 16,5)

'FE.F'

In [ ]:
convert_base("101010.010101", 2, 10,50)

'42.328125'

기타 노력의 흔적입니다

In [ ]:
def convert_base_frac(s, m, n):
  frac1=list()
  frac2=list()

  result=list()
  for i,item in enumerate(s):
    frac1.append(item)
    frac2.append((m**(i+1)))

    if i>0:
      frac1[0],frac2[0]=addFrac([frac1[0],frac2[0]], [frac1[i],frac2[i]])
  print(frac1[0],frac2[0])

In [ ]:
check_e("ff",16)

In [ ]:
convert_base_frac2([14], 16, 10, 5)

16진수 0.14를 10진수로 바꾸면 0.875이라네(유효숫자 5자리)

[8, 7, 5]

In [ ]:
convert_base_frac([1,0,1], 2, 10)

1333 46656

In [ ]:
s="123.123"
i1,f2= s.split(".")
print(i1,f2)

123 123

In [ ]:
a = 0
for i in range(1, 4):
  a += 1 / (36 ** i)

a #list(map(lambda x: x, str(a).split('.')[1]))

0.028570816186556925

In [ ]:
list/m**(index+1)

In [ ]:
a = [1, 1, 1]
m = 36

s = 0
for i, v in enumerate(a):
  div = m ** (i+1)
  s += v / div
print(s)

0.028570816186556925