<a href="https://colab.research.google.com/github/kimtaehan01/NLP_2023/blob/main/baekjun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1단계 입출력 및 사칙연산

Hello world!

In [ ]:
print("Hello World!")

A+B

In [ ]:
x=input()
a,b=x.split()
print(int(a)+int(b))

12 34
46

A-B

In [ ]:
x=input()
a,b=x.split()
print(int(a)-int(b))

3 2
1

A×B

In [ ]:
x=input()
a,b=x.split()
print(int(a)*int(b))

3 2
6

A/B

In [ ]:
x=input()
a,b=x.split()
print(int(a)/int(b))

10 3
3.3333333333333335

사칙연산

In [ ]:
x=input()
a,b=x.split()
print(int(a)+int(b))
print(int(a)-int(b))
print(int(a)*int(b))
print(int(int(a)/int(b)))
print(int(a)%int(b))

7 3
10
4
21
2
1

??!

In [ ]:
ID=input()
print(ID+"??!")

tytyty
tytyty??!

1998년생인 내가 태국에서는 2541년생?!

In [ ]:
year=int(input())
print(year-543)

2541
1998

나머지
첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [ ]:
x=input()
A,B,C=x.split()
A=int(A)
B=int(B)
C=int(C)
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

곱셈

In [ ]:
n1=int(input())
n2=input()
for i in range(2,-1,-1):
  print(n1*int(n2[i]))
print(n1*int(n2))

472
385
2360
3776
1416
181720

꼬마 정민

꼬마 정민이는 이제 A + B 정도는 쉽게 계산할 수 있다. 이제 A + B + C를 계산할 차례이다!

In [ ]:
x=input()
A,B,C=x.split()
A=int(A)
B=int(B)
C=int(C)
print(A+B+C)

77 77 7777
7931

# 2단게 조건문

두 수 비교하기

In [ ]:
x=input()
a,b=x.split()
a,b=int(a),int(b)
if a>b:
  print(">")
elif a<b:
  print("<")
else:
  print("==")

1 1
==

시험 성적

시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [ ]:
score=int(input())
if score>=90:
  print("A")
elif score>=80:
  print("B")
elif score>=70:
  print("C")
elif score>=60:
  print("D")
else:
  print("F")

10
F

윤년

연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [ ]:
year=int(input())
if year%4==0 and (year%100!=0 or year%400==0):
  print(1)
else:
  print(0)

1900
0

사분면 고르기

In [ ]:
x=int(input())
y=int(input())

if x>0 and y>0:
  print(1)
elif x<0 and y>0:
  print(2)
elif x<0 and y<0:
  print(3)
elif x>0 and y<0:
  print(4)

9
-13
4

주사위 세개

문제
1에서부터 6까지의 눈을 가진 3개의 주사위를 던져서 다음과 같은 규칙에 따라 상금을 받는 게임이 있다.

같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금을 받게 된다.
같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금을 받게 된다.
모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금을 받게 된다.  
예를 들어, 3개의 눈 3, 3, 6이 주어지면 상금은 1,000+3×100으로 계산되어 1,300원을 받게 된다. 또 3개의 눈이 2, 2, 2로 주어지면 10,000+2×1,000 으로 계산되어 12,000원을 받게 된다. 3개의 눈이 6, 2, 5로 주어지면 그중 가장 큰 값이 6이므로 6×100으로 계산되어 600원을 상금으로 받게 된다.

3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램을 작성 하시오.

In [ ]:
dice=input()
d1,d2,d3=dice.split()
d1,d2,d3=int(d1),int(d2),int(d3)
if d1==d2 and d2==d3:
  print(10000+d1*1000)
elif d1==d2:
  print(1000+d1*100)
elif d3==d2:
  print(1000+d2*100)
elif d1==d3:
  print(1000+d3*100)
else:
  print(max(d1,d2,d3)*100)

3 3 6
1300

# 3단계 반복문

구구단

In [ ]:
n=int(input())
for i in range(1,10):
  print(n,"*",i,"=",n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

A+B - 3

In [ ]:
t=int(input())
for i in range(0,t):
  x=input()
  a,b=x.split()
  print(int(a)+int(b))

3
1 1
2
3

ValueError: ignored

합

In [ ]:
t=int(input())
x=0
for i in range(0,t+1):
  x+=i
print(x)

100
5050

영수증

첫째 줄에는 영수증에 적힌 총 금액
$X$가 주어진다.

둘째 줄에는 영수증에 적힌 구매한 물건의 종류의 수
$N$이 주어진다.

이후
$N$개의 줄에는 각 물건의 가격
$a$와 개수
$b$가 공백을 사이에 두고 주어진다.

In [ ]:
wp=int(input())
t=int(input())
sum=0
for i in range(0,t):
  p=input()
  a,b=p.split()
  sum+=(int(a)*int(b))
if wp==sum:
  print("Yes")
else:
  print("No")

0
0
Yes

코딩은 체육과목 입니다

In [ ]:
n=int(input())
c=int(n/4)
mod=n%4
p=""
for i in range(0,c):
  p=p+"long "
if mod>0:
  p=p+"long int"
else:
  p=p+"int"
print(p)

21
long long long long long long int

Generalize Textbook Exercise 7.2 to apply to arbitrary monetary systems

수업시간에 작성했던 동전 액면가가 7,5,2,1로 고정된 mincoins를 일반화한 coins1 함수는 지불할 액수와 함께 동전 액면가의 집합도 파라메터로 받도록 작성하다. 예를 들어, 수업시간에 작성했던 최소 동전 개수를 구하는 함수 mincoins( 10 )을 실행하는 대신 conis1( 10, {7,5,2,1} )을 실행하면 같은 의미가 된다는 말이다.

모든 지불 액수가 가능하도록 문제를 단순화하기 위해 동전 액면가의 집합에는 액면가 1이 반드시 포함되어 있어야만 한다고 가정한다. 만일 동전 액면가의 집합에 액면가 1이 포함되어 있지 않다면 적절한 메시지의 ValueError를 raise하라.

재귀함수로 작성하는 top-down 방식의 메모해두기 알고리즘으로 작성하라.

Generalize the mincoins you wrote in class with fixed coin denominations of 7,5,2,1. Write a function coins1 that takes as a parameter the set of coin denominations along with the amount to be paid. Write a coins1 function that takes a set of coin denominations as a parameter along with the amount to pay. For example, instead of running the function mincoins( 10 ) that we wrote in class to find the smallest number of coins, you could run instead of running conis1( 10, {7,5,2,1} ) to find the minimum number of coins that we wrote in class, it would mean the same thing.

To simplify the problem to allow for all payment amounts Assume that the set of coin denominations must contain the denomination 1. If the set of coin denominations does not contain a denomination of 1, then raise a ValueError with the appropriate message.

Write a top-down memoization algorithm as a recursive function.

In [1]:
def coins1(v, cset): # v는 지불할 액수, cset은 사용 가능한 동전 액면가의 집합
  if 1 not in cset:
    raise ValueError("액면가 집합에 1이 포함되어 있어야 합니다.")
  memo={}
  def mincoins(value):
    if value == 0:
      return 0
    if value in memo:
      return memo[value]

    if value < min(cset):
      raise ValueError("액면가 집합의 동전으로 지불할 수 없는 액수입니다.")

    min_count = float('inf')

    for coin in cset:
      if coin <= value:
        count = mincoins(value - coin) + 1
        min_count=min(count,min_count)

    memo[value] = min_count
    return min_count

  return mincoins(v)

In [2]:
print(coins1(10,{7,5,2,1}))
print(coins1(14,{7,5,2,1}))
print(coins1(19,{8,5,2,1}))
print(coins1(44,{7,4,2,1}))
print(coins1(10,{7,5,2}))

2
2
4
7

ValueError: ignored